/*
  Custom styles for Trackster App
*/
html{
  font-size: 16px;
}

/*Header Section*/
.header{
  padding: 2.75rem 0;
  background-color: rgb(35, 2, 63);
}
.header h1{
  font-family: 'Righteous', sans-serif;
  font-size: 2.5rem;
  color: rgb(255,0,171);
  bottom: 1.4rem;
}
.header input{
  border-radius: 19px;
  margin-right: .625rem;
  color: rgb(191,191,191);
  height: 2.5rem;
}
.header #search-button:hover{
  background-color: rgb(104,0,255);
  transition: background-color .5s ease .2s;
  cursor: pointer;
}
.header .fa-search:hover{
  color: #fff;
  transition:color .5s ease .5s;
}
.header .fa-search{
  padding: .5rem;
  border-radius: 19px;
  text-align: center;
  background-color: rgb(255,102,204);
}
/*Attribute Section*/
.attribute{
  cursor: default;
}
.attributes{
  background-color: rgb(104,0,255);
  color: rgb(255,255,255);
}
.track{
  border-bottom: 1px solid lightgrey;
  padding: 1rem 0;
}
